# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern takes the most precedence

# These owners will be the default owners for everything
*             @justdice/engineering @justdice/contributors

# JustDice must review any changes to Makefiles
**/Makefile   @justdice/engineering
**/Makefile.* @justdice/engineering

# JustDice must review any changes to GitHub actions
.github/*     @justdice/engineering

# JustDice must review any changes to standard context definition
**/context.tf   @justdice/engineering
